@media print {


body{
  font-size: 13px !important;
}

  #pageContainer {
    min-width: 720px;
    margin-inline: auto;
  }

  .logo .logo-img {
    width: 300px;
  }

  .main-header {
    margin-top: 0.3125rem;
    font-size: 1.4375rem;
  }
  .main-date {
    font-size: 0.875rem;
    margin: 10px 0 0 0;
  }

  #download {
    display: none;
  }

  div {
    width: 100%;
  }

  .form-control{
    font-size: 0.7rem;
  }

  .file-form-label{
    width: 300px;
  }

 


  #signature,#stampText,#certificationText
  {
    font-size: 14px !important;
  }

  .certification,.stamp{
    height: 80px; 
}


  @page {
    size: A4 portrait;
    margin: 20px !important;
  }

  #fourthSectionTitle {
    page-break-before: always;
  }

  #seventhSectionTitle {
    page-break-before: always;
  }

  #eighthSectionTitle {
    page-break-before: always;
  }

  /* #personalPledge {
    page-break-before: always;
  } */
}
