@media print {
  #pageContainer {
    min-width: 720px;
  }

  .logo .logo-img {
    width: 300px;
  }

  .main-header {
    margin-top: 0.3125rem;
    font-size: 1.4375rem;
  }
  .main-date {
    font-size: 0.875rem;
    margin: 10px 0 0 0;
  }

  #download {
    display: none;
  }

  div {
    width: 100%;
  }

  .chooseFile{
    display: none;
  }

  #companyEmailLabelContainer{
    margin-bottom: 0 !important;
  }

  @page {
    size: A4 portrait;
    margin: 20px !important;
  }

  #thirdSectionTitle {
    page-break-before: always;
  }

  #seventhSectionTitle {
    page-break-before: always;
  }

  #eighthSectionTitle {
    page-break-before: always;
  }

  #personalPledge {
    page-break-before: always;
  }
}
