@media (min-width: 768px) {
  .logo-img {
    width: 400px;
  }
  .main-header {
    font-size: 2rem;
  }
  .main-date {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .main-date {
    font-size: 1.25rem;
    margin-left: 30px;
  }
}
@media (min-width: 1200px) {
}
